@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    color: white;
    font-family: "Source Sans Pro";
}
.title-2{
    display: none;
}
.player-2{
    display: none;
}
.container{
    width: 100%;
}
.hero{
    max-width: 100%;
    position: relative;
}
.first-section{
    max-width: 20%;
    /* flex-basis: 20%; */
    background-image: linear-gradient(to bottom right,  rgb(39, 128, 230), rgba(61, 18, 13, 0.726), rgb(39, 128, 230));
    backdrop-filter: blur(36px);
    height: 100vh;
    position: fixed;
    z-index: 1;
}
.second-section{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right,  rgb(39, 128, 230), rgba(61, 18, 13, 0.726), rgb(39, 128, 230));
    backdrop-filter: blur(36px);
}
.first-box{
    flex-basis: 20%;
    align-items: center;
}
.second-box{
    flex-basis: 80%;
    /* max-width: 80%; */
    height: 100%;
}
.border{
    margin: 50px auto;
    max-width: 90%;
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    max-width: 100%;
}
.search-grow{
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}
.search input{
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px;
    width: 80%;
    color: white;
} 
.search input::placeholder{
    opacity: .5;
}
.search span{
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: white;
}
.first-cat{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.first-cat i{
    font-size: 25px;
    margin-top: 20px;
}
.first-cat:hover, .title:hover{
    color: rosybrown;
    transition: 0.3s;
}
.first-cat i{
    margin-right: 30px;
}
.cat-type{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
}
.cat-item{
    padding: 4% 6%;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
    flex-grow: 1;
    color: white;
}
.cat-item i{
    color: gold;
}
.cat-item:hover{
    padding: 2% 3%;
    transition: 0.3s;
}
.nav-songs{
    display: flex;
    margin: 20px 0;
}
.nav-songs h1{
    margin-right: 30px;
    color: grey;
    padding: 2px;
}
.nav-songs h1:nth-child(1){
    color: white;
    border-bottom: 5px solid white;
}
.nav-songs h1:hover{
    color: white;
    border-bottom: 5px solid white;
    transition: 0.3s;
}
.song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    transition: 0.2s;
}
.song:hover{
    border-left: 5px solid red;
    padding: 0 5px;
}
.song img{
    object-fit: contain;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.song-item{
    margin-right: 5px;
    font-size: 20px;
}
.song-item:nth-child(1){
    flex-basis: 2%;
}
.song-item:nth-child(3){
    flex-basis: 25%;
    margin-left: 10px;
}
.song-item:nth-child(4){
    flex-basis: 13%;
}
.song-item:nth-child(5){
    flex-basis: 10%;
}
.song-item:nth-child(6){
    flex-basis: 10%;
}
.song-item:nth-child(7){
    flex-basis: 10%;
}
.song-item:nth-child(8){
    flex-basis: 15%;
}
/* .song-item:nth-child(9){
    f-basis: 15%;
    justify-content: end; 
} */
.song-item:nth-child(8):hover,
.song-item:nth-child(9):hover{
    color: red;
}
.player{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    /* border: 2px solid black; */
    padding: 10px 40px;
    border-radius: 30px 30px 0 0;
    background-color: rgba(6, 20, 24, 0.877);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}
.player-title{
    display: flex;
    align-items: center;
}
/* .name h2{
    margin-bottom: -2px;
    font-size: 20px;
} */
/* h1{
    margin-top: -10px;
} */
.player-button{
    width: 50%;
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    font-size: 20px;
}
.player-button .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}
.trio i{
    padding: 0px 3px;
}
.mobile.trio{
    display: none;
}
.player-button .third{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.pop-border{
    background-image: linear-gradient(to bottom right,  rgb(39, 128, 230), rgba(61, 18, 13, 0.726), rgb(39, 128, 230));
    backdrop-filter: blur(36px);
}
.pop-up{
    width: 95vw;
    height: 100vh;
    color: white;
    margin: 0 auto;
    /* background: linear-gradient(168.36deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 99.4%); */
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-right i{
    padding: 2px;
}
.swipe{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.swipe button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    box-shadow: 0px 0px 1px 5px white ;
    font-size: 20px;
}
.title-pop-up{
    text-align: center;
}
.img-border{
    margin: 40px 0 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.img-border img{
    width: 330px;
    height: 330px;
    border-radius: 20px;
    border: 3px solid grey;
    padding: 15px;
}
.button{
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    font-size: 20px;
}
.button .first{
    width: 100%;
    display: flex;
    /* color: red; */
    justify-content: space-between;
    margin-bottom: 20px;
}
.button .second{
    margin-bottom: 20px;
}
.button .time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button .third{
    width: 100%;
    display: flex;
    /* color: red; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.button .third .trio{
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    .first-cat{
        font-size: 15px;
        margin-top: 20px;
    }
    .search-grow span{
        display: none;
    }
    .search-grow input{
        border-radius: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .hero{
        width: 100%;
        background-image: linear-gradient(to bottom right,  rgb(39, 128, 230), rgba(61, 18, 13, 0.726), rgb(39, 128, 230));
        backdrop-filter: blur(36px);
    }
    .first-section{
        display: none;
    }
    .second-section{
        display: flex;
        justify-content: flex-start;
        max-width: 100%;
    }
    .first-box{
        display: none;
    }
    .second-box{
        max-width: 100%;
        flex-basis: 100%;
    }
    .title{
        display: none;
    }
    .title-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 10px 0;
    }
    .title-2 input{
        padding: 10px;
        border: none;
        border-radius: 20px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.37);
    }
    .title-2 input::placeholder{
        color: white;
        font-size: 20px;
        opacity: .5;
        align-items: center;

    }
    .cat-type{
        padding: 10px 0px;
    }
    .cat-item{
        padding: 4% 6%;
        margin: 0 10px;
        background-color: rgba(0, 0, 0, 0.445);
        border-radius: 12px;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        flex-grow: 1;
        color: white;
    }
    .cat-item i{
        color: gold;
    }
    .cat-item:hover{
        padding: 3% 5%;
        transition: 0.3s;
        color: gold;
    }
    .cat-item i:hover{
        color: red;
    }
    .nav-songs{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
    }
    .nav-songs h1{
        margin-right: 20px;
        color: grey;
        padding: 2px;

    }
    .song-item{
        margin-right: 5px;
        font-size: 24px;
    }
    .song-item:nth-child(3){
        flex-basis: 70%;
        margin-left: 10px;
    }
    .song-item:nth-child(4){
        display: none;
    }
    .song-item:nth-child(5){
        display: none;
    }
    .song-item:nth-child(6){
        display: none;
    }
    .song-item:nth-child(7){
        display: none;
    }
    .song-item:nth-child(8){
        display: none;
    }
    .player{
        /* position: absolute; */
        right: 0;
        bottom: 0;
        width: 100%;
        /* border: 2px solid black; */
        padding: 10px 40px;
        border-radius: 30px 30px 0 0;
        background-color: rgba(6, 20, 24, 0.877);
        position: sticky;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .player .first, .player .second, .player .third{
        display: none;
    }
    .mobile.trio{
        margin-left: 40px;
        display: flex;
        justify-content: flex-end;
    }
    .mobile.trio i{
        padding: 0px 10px;
    }
    .player .name p{
        display: none;
    }
}